@font-face {
    font-family: Orbitron-Medium;
    src: url(fontZ/Orbitron-Medium.ttf);
}

body {
    font-family: Orbitron-Medium;
    background-color: #0c0c0d;
}


.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    text-align: center;
}



.c0r {
    width: 135px;
    height: 135px;
    color: aliceblue;
}

.horizontalB {
    float: left;
    clear: none;
}

/* #terminal {
    float: left;
    clear: none;
} */